/* 슬라이드다운 */
@keyframes slideDown {
  from {
    transform: translateY(-30%); /*어디서부터 날라오는가*/
  }
  to {
    transform: translateY(0);
  }
}
.slideDown {
  visibility: visible;
  animation: slideDown 0.1s forwards;
}


/*모코코 슬라이드업*/
@keyframes slideUpMk{
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-up-mk {
  animation: slideUpMk 0.5s forwards;
}


/*모코코 슬라이드다운*/
@keyframes slideDownMk {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
.slide-down-mk {
  animation: slideDownMk 0.5s forwards;
}
.slide-down-fast-mk {
  animation: slideDownMk 0.3s forwards;
}




.hidden {
  display: none;
}