.mokoko-farm-container {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: flex-end;   /* 발 맞추듯 아래 정렬 */
  gap: 16px;               /* 카드 간격 */
  flex-wrap: wrap;         /* 카드가 많으면 줄바꿈 */
  padding: 20px;
}



.mokoko-box {
  position: relative;
  text-align: center;
  overflow: hidden;       /* 박스 밖으로 나간 부분 잘라냄 */
}


.mokoko-box svg {
  transform: translateY(137px);
  transition: transform 0.2s ease;  /* 기본 상태에 transition */
}

.mokoko-box:hover svg {
  transform: translateY(100px);  /* 올라오기 */
}

/* 모코코 이름 */
.mokoko-name {
  font-family: '양진체';
  font-size: 24px;
  flex-direction: column; /* 세로 정렬 */
  align-items: center;     /* 중앙 정렬 */
} 
